.infraestrutura {
  position: absolute;
  top: 400px;
  right: 20px;
  width: 300px;
  background-color: #f9f9f9;
  margin: 50x auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: left;
}

.infraestrutura h2 {
  font-size: 1.5rem;
  color: #294781;
  margin-bottom: 15px;
}

.infraestrutura p {
  font-size: 1rem;
  color: #333;
  margin-bottom: 15px;
  text-align: justify;
}

.infraestrutura ul {
  list-style: none;
  padding: 0;
}

.infraestrutura ul li {
  font-size: 1rem;
  color: #555;
  margin: 5px 0;
}